.landing {
  background-image: url("https://images.unsplash.com/photo-1498579809087-ef1e558fd1da");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  text-align: center;
  padding-top: 150px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}
